.barra-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.barra-menu h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
.menu a {
  display: inline;
  margin-right: 20px;
}
.menu a:hover {
  color: yellow;
  text-decoration: underline;
}
img.estudiante {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.registro1 {
  margin-top: 80px;
  margin-inline-start: 50px;
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-container {
  width: 40%;
}

.form-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 10px;
}

.form-input-label {
  font-size: 16px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffcc00;
  color: black;
}

.search-container {
  width: 40%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  gap: 10px;
}

.title-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

#taxes-container {
  font-weight: medium;
  border-radius: 25px;
  background-color: white;
  padding: 10px 25px;
  margin: 20px 0;
  color: black;
}
